name: Build Firmware

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build ${{ matrix.firmware }} for ${{ matrix.board }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firmware: [stm32n6, stm32wl, lora_e5]
        board: [qemu_cortex_m3, qemu_cortex_m7]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Zephyr
        run: |
          sudo apt-get update
          sudo apt-get install -y git cmake ninja-build gperf ccache dfu-util device-tree-compiler wget python3-dev python3-pip python3-setuptools python3-wheel xz-utils file make gcc gcc-multilib g++-multilib libsdl2-dev
          pip3 install west
          west init -l firmware/${{ matrix.firmware }}
          west update
          west zephyr-export
          pip3 install -r ~/zephyrproject/zephyr/scripts/requirements.txt
      
      - name: Build
        run: |
          cd firmware/${{ matrix.firmware }}
          west build -b ${{ matrix.board }}
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.firmware }}-${{ matrix.board }}
          path: firmware/${{ matrix.firmware }}/build/zephyr/zephyr.*
